In [11]:
import pandas as pd
import json
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np
import os
from scipy.signal import savgol_filter
import warnings
warnings.filterwarnings('ignore')

In [12]:
score_file_path = 'data/scores.csv'

def read_files(path):
    return pd.read_csv(path)

scores = read_files(score_file_path)

In [13]:
scores['type'] = scores['number'].apply(lambda i: "depress" if "condition" in i else "nondepress")

In [4]:
# Default Graph
def get_count(attribute):
    df = scores.groupby([attribute,'type'], as_index = False)['number'].count().reset_index(drop=True)
    data = {f"{attribute}_group":eval(df.to_json(orient = 'records'))}
    
            
    with open(f"data/detailgraph/all_{attribute}.json", "w") as outfile:
        json.dump(data, outfile)
    return df

get_count('age')
get_count('gender')

   gender        type  number
0       1     depress      10
1       1  nondepress      20
2       2     depress      13
3       2  nondepress      12

# For calculate in separate type

In [14]:
depress = scores.loc[scores['type'] == "depress"]
nondepress = scores.loc[scores['type'] == "nondepress"]
depress

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,type
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0,depress
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0,depress
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0,depress
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0,depress
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0,depress
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0,depress
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0,depress
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0,depress
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0,depress
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0,depress
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0,depress
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0,depress
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0,depress
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0,depress
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0,depress
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0,depress
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0,depress
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0,depress
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0,depress
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0,depress
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0,depress
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0,depress
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0,depress

In [18]:
# Default Graph
attr_list = ["afftype","edu","marriage","work"]
def get_datainfo(attribute):
    df = depress[["number","madrs1","madrs2",attribute]]
    
    data = {attribute:eval(df.to_json(orient = 'records'))}
            
    with open(f"data/detailgraph/after_{attribute}.json", "w") as outfile:
        json.dump(data, outfile)
    return data

for attr in attr_list:
    get_datainfo(attr)